.dart_tool/
.dart-tool/
.config/
.flutter
.flutter-plugins*
.packages
build/
android/.gradle/
**/.gradle/
android/local.properties
**/local.properties
__pycache__/
*.pyc
**/dist/
target/
*.jks
*.keystore
*.apk
*.aab
*.so
*.dm
*.zip
.idea/
.vscode/
website/node_modules/
website/.next/
website/dist/
website/out/
**/GeneratedPluginRegistrant.java
